.heading {
  display: flex;
  gap: 16px;
  align-items: flex-end;
  margin-bottom: var(--heading-margin);
  .h1 {
    margin-bottom: 0;
  }
}
.thumb {
  img {
    width: 100%;
  }
}
.Stats {
  .container {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
}
