.UIButton {
  cursor: pointer;
  min-width: 40px;
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  border-radius: 0;
  border: none;
  background-color: rgb(155, 204, 80);
  color: black;
}
