@import '~/assets/styles/vars';

.UITag {
  line-height: 1em;
  border: none;
  cursor: pointer;
  border-radius: 20px;
  background-color: rgba(var(--rgba-bgc, 0.3));
  color: var(--color-primary);
  padding: 10px;
  min-width: 120px;
  &--small {
    min-width: unset;
    padding: 3px;
    @media (min-width: $breakpoint-md) {
      font-size: 0.5em;
    }
  }
}
