.Header {
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  padding: 15px;
  background-color: rgba(var(--rgba-bgc), 0.3);
  .container {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
}
.header-nav {
  display: flex;
  gap: 15px;
  &__link {
    color: var(--primary);
    font-weight: 500;
    text-transform: uppercase;
    text-decoration: none;
  }
}

.theme-changer {
  cursor: pointer;
  width: 40px;
  height: 40px;
  border: none;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
  background-color: var(--contrast);
  color: rgba(var(--rgba-bgc), 1);
  &__icon {
    font-size: 2rem;
  }
}
